<!DOCTYPE html>
	<html>
		<head>
			<link href='https://fonts.googleapis.com/css?family=Capriola|Corben' rel='stylesheet' type='text/css'>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<!-- nav unncessesary for now
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			-->
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	    			<li><a href="https://twitter.com/utterly">twitter</a></li>
        			<li><a href="https://github.com/utterly">github</a></li>
        			<li><a href="mailto:utterlylabs@gmail.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
